{
	auto_https off
	admin off
}

:8080 {
	encode zstd gzip

	header {
		-Server
		X-Content-Type-Options "nosniff"
		X-Frame-Options "DENY"
		Referrer-Policy "strict-origin-when-cross-origin"
	}

	root * /srv
	try_files {path} /index.html
	file_server
}
